.movies-card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
  box-sizing: border-box;
  padding: 70px var(--1280-resolution-padding) 10px;
}

@media screen and (max-width: 1125px){
  .movies-card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 890px){
  .movies-card-list {
    gap: 24px;
  }
}

@media screen and (max-width: 800px){
  .movies-card-list {
    padding: 70px var(--768-resolution-padding-30);
  }
}

@media screen and (max-width: 641px){
  .movies-card-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 420px){
  .movies-card-list {
    padding: 70px 10px var(--320-resolution-padding-14);
  }
}
