.about-project__description-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-text-color);
  margin: 0;
  padding: 26px 0 0;
}

@media screen and (max-width: 769px) {
  .about-project__description-text {
    font-size: 12px;
    line-height: 18px;
    padding: 22px 0 0;
  }
}

@media screen and (max-width: 420px) {
  .about-project__description-text {
    font-size: 11px;
    line-height: 16px;
    padding: 16px 0 0;
  }
}
