.not-found__back-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 184px 0 60px;
  color: var(--accent-color);
}

@media screen and (max-width: 420px) {
  .not-found__back-link {
    padding: 284px 0 30px;
  }
}