.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/promo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-variant);
  width: 100%;
  min-height: 524px;
}

@media screen and (max-width: 420px) {
  .promo {
    min-height: 570px;
  }
}
