.about-project__description-title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: var(--primary-text-color);
  margin: 0;
}

@media screen and (max-width: 420px) {
  .about-project__description-title {
    font-size: 18px;
    line-height: 22px;
  }
}