.profile__edit-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background-color: transparent;
  margin: 220px 0 0;
}

@media screen and (max-width: 769px) {
  .profile__edit-button {
    margin: 210px 0 0;
  }
}

@media screen and (max-width: 420px) {
  .profile__edit-button {
    margin: 379px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}