.about-me__description {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--primary-text-color);
  margin: 0;
  padding: 26px 0 0;
}
