.nav-tab__item {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;

  color: var(--primary-text-color);
}

@media screen and (max-width: 420px) {
  .nav-tab__item {
    font-size: 11px;
    line-height: 16px;
  }
}
