.search-form__filter-container {
  width: 100%;
  display: flex;
  column-gap: 14px;
  align-items: center;
  border-bottom: 1px solid rgba(170,170,170, 0.2);
  padding: 16px 0 43px;
}

@media screen and (max-width: 769px) {
  .search-form__filter-container {
    padding: 16px 0 52px;
  }
}

@media screen and (max-width: 420px) {
  .search-form__filter-container {
    padding: 21px 0 64px;
  }
}
