.footer {
  width: 100%;
  min-height: 172px;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0 var(--1280-resolution-padding);
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 0 var(--768-resolution-padding-30);
  }
}

@media screen and (max-width: 420px) {
  .footer {
    padding: 0 var(--320-resolution-padding-footer);
    min-height: 243px;
  }
}
