.techs {
  width: 100%;
  min-height: 625px;
  background-color: var(--primary-variant-bg);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0 var(--1280-resolution-padding);
}

@media screen and (max-width: 769px) {
  .techs {
    min-height: 567px;
    padding: 0 var(--768-resolution-padding-50);
  }
}

@media screen and (max-width: 420px) {
  .techs {
    min-height: 651px;
    padding: 0 var(--320-resolution-padding-14);
  }
}
