.nav-tab__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 420px) {
  .nav-tab__list {
    column-gap: 24px;
  }
}
