.about-me__brief {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-text-color);
  margin: 0;
  padding: 18px 0 0;
}

@media screen and (max-width: 769px) {
  .about-me__brief {
    font-size: 12px;
    line-height: 18px;
    padding: 16px 0 0;
  }
}

@media screen and (max-width: 420px) {
  .about-me__brief {
    font-size: 11px;
    line-height: 16px;
    padding: 20px 0 0;
  }
}
