.about-me {
  width: 100%;
  min-height: 604px;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0 var(--1280-resolution-padding);
}
